@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.dream-w {
		width: calc(100% + 65px);
	}
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
}